@using Bibliotech
@using Bibliotech.Models
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Action = "Acervo";
    ViewBag.Title = "Livro";
}

@model Tuple<IPagedList<Livro>, Livro>

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="table-responsive">
        <div class="panel-heading">
            <div class="row border-bottom" style="margin-left: 0px; margin-right: 0px;">
                @Html.Partial("~/Views/Shared/_PageHeader.cshtml")
                <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#modalSearch">
                        <i class="fa fa-filter"></i> Filtrar
                    </button>
                </div>
            </div>
        </div>

        @if (Model != null && Model.Item1 != null && Model.Item1.Count > 0)
        {
            <div class="row col-12">
                @foreach (var livro in Model.Item1)
                {
                <div class="container">
                    <img src="@Url.Content("~/Images/capadefault.png")" alt="Avatar" class="image" style="max-height: 200px;  width: 150px" />
                    <div class="overlay">
                        <a href="#" class="icon" title="@livro.Titulo">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    </div>
                </div>
                   }
            </div>
        }
        else
        {
            <br />

            <div class="alert alert-secondary" role="alert">
                Nenhum registro encontrado.
            </div>
        }

        @if (Model != null && Model.Item1 != null && (Model.Item1.HasNextPage || Model.Item1.HasPreviousPage))
        {
            <div class="text-center">
                @Html.PagedListPager(Model.Item1, (page) => Url.Action("Listar",
                                 new RouteValueDictionary
                        {   { "page", page
                    },
                            { "Titulo", Model.Item2 != null ? Model.Item2.Titulo : null },
                            { "Isbn", Model.Item2 != null ? Model.Item2.Isbn : null },
                            { "Edicao", Model.Item2 != null ? Model.Item2.Edicao : null },
                            { "Assunto", Model.Item2 != null ? Model.Item2.Assunto : null }
                        }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        }

    </div>

    <!---------- FILTRAR ------------->
    <div id="modalSearch" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 style="text-align: center" class="modal-title">
                        Filtrar Livro
                    </h3>
                    <button type="button" class="close" data-dismiss="modal" title="Fechar busca">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(x => x.Item2.Titulo, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBox("Titulo", Model.Item2.Titulo, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Item2.Isbn, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBox("Isbn", Model.Item2.Isbn, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Item2.Assunto, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBox("Assunto", Model.Item2.Assunto, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(x => x.Item2.Edicao, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-6">
                                @Html.TextBox("Edicao", Model.Item2.Edicao, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-search"></span>Buscar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</head>

<body>
    
    <style>
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

        .image {
            display: block;
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            width: auto;
            opacity: 0;
            transition: .3s ease;
            background-color: deepskyblue;
            max-width: 200px;
        }

        .container:hover .overlay {
            opacity: 1;
        }

        .icon {
            color: white;
            font-size: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            text-align: center;
        }

        .fa-user:hover {
            color: #eee;
        }
    </style>  
    </body>
    </html>

    @section Scripts{
        @Scripts.Render("~/Scripts/Util.js")


    }
