@using Bibliotech
@using Bibliotech.Models
@using PagedList
@using PagedList.Mvc

@model Livro

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="row border-bottom" style="margin-left: 0px; margin-right: 0px;">
            @Html.Partial("~/Views/Shared/_PageHeader.cshtml")
        </div>
    </div>

    <br />

    <ul id="myTab" class="nav nav-tabs" role="tablist">
        <li class="nav-item"><a class="nav-link active" id="tabLivro" href="#livro" role="tab" data-toggle="tab">Informações do Livro</a></li>
        <li class="nav-item"><a class="nav-link" id="tabExemplares" href="#exemplares" role="tab" data-toggle="tab">Exemplares</a></li>
    </ul>

    @using (Ajax.BeginForm("Salvar", "Livro", null,
                                                                        new AjaxOptions { HttpMethod = "post", OnSuccess = "sucesso" }, new { id = "myForm" }))
    {
        <div class="panel-body tab-content">

            @Html.ValidationSummary(true)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Version)
            @Html.HiddenFor(x => x.NomeFoto)

            <div id="livro" class="tab-pane active">
                <table>
                    <tr>
                        <td class="col-8">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.Titulo)
                                    @Html.TextBoxFor(x => x.Titulo, new { @class = "form-control", type = "text" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.HiddenFor(x => x.Autor.Id)
                                    @Html.Label("Autor", new { @for = "Autor.Nome" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Autor.Nome, new { @class = "form-control", type = "text", @readonly = "true" })
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalBuscarAutor">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.HiddenFor(x => x.Editora.Id)
                                    @Html.Label("Editora", new { @for = "Editora.Nome" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Editora.Nome, new { @class = "form-control", type = "text", @readonly = "true" })
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalBuscarEditora">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(x => x.Edicao)
                                    @Html.TextBoxFor(x => x.Edicao, new { @class = "form-control number", type = "text" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(x => x.AnoPublicao)
                                    @Html.TextBoxFor(x => x.AnoPublicao, new { @class = "form-control number", type = "text" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    @Html.LabelFor(x => x.NumeroPaginas)
                                    @Html.TextBoxFor(x => x.NumeroPaginas, new { @class = "form-control number", type = "text" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.LabelFor(x => x.Isbn)
                                    @Html.TextBoxFor(x => x.Isbn, new { @class = "form-control number", type = "text" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(x => x.Assunto)
                                    @Html.TextBoxFor(x => x.Assunto, new { @class = "form-control", type = "text" })
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    @Html.HiddenFor(x => x.Prateleira.Id)
                                    @Html.Label("Prateleira", new { @for = "Prateleira.Descricao" })
                                    <div class="input-group">
                                        @Html.TextBoxFor(x => x.Prateleira.Descricao, new { @class = "form-control", type = "text", @readonly = "true" })
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#modalBuscarPrateleira">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="col-4" style="vertical-align: top;">
                            @Html.Label("Capa")
                            @if (Model == null || Model.NomeFoto == null)
                            {
                                <img id="imgFoto" src="@Url.Content("~/Images/capadefault.png")" style="max-height: 200px;  width: 150px" onclick="document.getElementById('fileFoto').click();" />
                            }
                            else
                            {
                                <img id="imgFoto" src="@Url.Content("/Livro/GetImagemCapa/" + Model.Id)" style="max-height: 200px;  width: 150px" onclick="document.getElementById('fileFoto').click();" />
                            }
                            <input type="file" id="fileFoto" style="display: none;" onchange="readURL(this);" />
                        </td>
                    </tr>
                </table>
            </div>

            <div id="exemplares" class="tab-pane">
                @Html.Hidden("qtdExemplares", (Model != null && Model.Exemplares != null ? Model.Exemplares.Count : 0))
                <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-primary btn-sm" onclick="inserirExemplar()">
                        <i class="fa fa-plus"></i> Inserir Exemplar
                    </button>
                </div>

                <br />

                <table class="table table-striped">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-3">Código</th>
                            <th class="col-3">Exclusivo da Biblioteca</th>
                            <th class="col-6"><i class="fa fa-cog"></i></th>
                        </tr>
                    </thead>
                </table>

                @for (int i = 0; i < (Model != null && Model.Exemplares != null ? Model.Exemplares.Count : 0); i++)
                {
                    @Html.HiddenFor(x => x.Exemplares[i].Id)
                    <div class="form-row" id="divExemplares_@i">
                        <div class="col-3">
                            @Html.TextBoxFor(x => x.Exemplares[i].Codigo, new { @class = "form-control", type = "text" })
                        </div>
                        <div class="col-3 text-center">
                            @Html.CheckBox("Exemplares[" + i + "].ExclusivoBiblioteca", Model.Exemplares[i].ExclusivoBiblioteca ?? false)
                        </div>
                        <div class="col-6">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removerExemplar(@i);">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                }

                <div id="divExemplares_n"></div>
            </div>

        </div>

        <br />

        <div class="panel-footer">
            <button class="btn btn-secondary" type="button" onclick="voltar()">Voltar</button>
            <button class="btn btn-primary" type="button" onclick="validarSalvarLivro()">Salvar</button>
        </div>
    }
</div>

<script>
    (function ($) {
        $(function () {
            $('.number').mask('0#');

            $('.formSearch').on('keyup keypress', function (e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });
    })(jQuery);

    function buscarEditora() {
        $.ajax({
            type: "POST",
            url: "/Editora/Buscar",
            data: $("#formBuscarEditora").serialize(),
            success: function (data) {
                sucessoEditoraSearch(data);
            },
            error: function (msg) {
                var title = (/<title>(.*?)<\/title>/m).exec(msg.responseText)[1];
                bootbox.alert(title);
            }
        });
    }

    function buscarAutor() {
        $.ajax({
            type: "POST",
            url: "/Autor/Buscar",
            data: $("#formBuscarAutor").serialize(),
            success: function (data) {
                sucessoAutorSearch(data);
            },
            error: function (msg) {
                var title = (/<title>(.*?)<\/title>/m).exec(msg.responseText)[1];
                bootbox.alert(title);
            }
        });
    }

    function buscarPrateleira() {
        $.ajax({
            type: "POST",
            url: "/Prateleira/Buscar",
            data: $("#formBuscarPrateleira").serialize(),
            success: function (data) {
                sucessoPrateleiraSearch(data);
            },
            error: function (msg) {
                var title = (/<title>(.*?)<\/title>/m).exec(msg.responseText)[1];
                bootbox.alert(title);
            }
        });
    }

    function sucessoEditoraSearch(data) {
        if (data.Lista.length > 0) {
            $("#listaEditoras").html("<div class='form-group'><div class='col-sm-8'><b>Nome</b></div>");
            $.each(data.Lista, function (index, element) {
                var itemHTML = ['<a class="form-popup-link" onclick="selecionarEditora(\'' + element.Id + '\',\'' + element.Nome + '\');">',
                                    "<div class='col-sm-8'>",
                                            element.Nome,
                                    "</div>",
                            "</a>"].join('\n');
                $("#listaEditoras").append(itemHTML);
            });
        }
        else
            $("#listaEditoras").html("<div class=\"alert alert-secondary\" role=\"alert\">Nenhuma Editora encontrada.</div>");

        return false;
    }

    function sucessoAutorSearch(data) {
        if (data.Lista.length > 0) {
            $("#listaAutores").html("<div class='form-group'><div class='col-sm-8'><b>Nome</b></div>");
            $.each(data.Lista, function (index, element) {
                var itemHTML = ['<a class="form-popup-link" onclick="selecionarAutor(\'' + element.Id + '\',\'' + element.Nome + '\');">',
                                    "<div class='col-sm-8'>",
                                            element.Nome,
                                    "</div>",
                            "</a>"].join('\n');
                $("#listaAutores").append(itemHTML);
            });
        }
        else
            $("#listaAutores").html("<div class=\"alert alert-secondary\" role=\"alert\">Nenhum Autor encontrado.</div>");

        return false;
    }

    function sucessoPrateleiraSearch(data) {
        if (data.Lista.length > 0) {
            $("#listaPrateleiras").html("<div class='form-row'><div class='col-sm-5'><b>Descrição</b></div><div class='col-sm-5'><b>Estante</b></div>");
            $.each(data.Lista, function (index, element) {
                var itemHTML = ['<a class="form-popup-link" onclick="selecionarPrateleira(\'' + element.Id + '\',\'' + element.Descricao + '\');">',
                                    "<div class='form-row'>",
                                        "<div class='col-sm-5'>",
                                                element.Descricao,
                                        "</div>",
                                        "<div class='col-sm-5'>",
                                                element.EstanteDescricao,
                                        "</div>",
                                    "</div>",
                            "</a>"].join('\n');
                $("#listaPrateleiras").append(itemHTML);
            });
        }
        else
            $("#listaPrateleiras").html("<div class=\"alert alert-secondary\" role=\"alert\">Nenhuma Prateleira encontrada.</div>");

        return false;
    }

    function selecionarEditora(id, nome) {
        $("#Editora_Id").val(id);
        $("#Editora_Nome").val(nome);
        $('#modalBuscarEditora').modal('hide');
        $('.modal-backdrop').remove();
    }

    function selecionarAutor(id, nome) {
        $("#Autor_Id").val(id);
        $("#Autor_Nome").val(nome);
        $('#modalBuscarAutor').modal('hide');
        $('.modal-backdrop').remove();
    }

    function selecionarPrateleira(id, descricao) {
        $("#Prateleira_Id").val(id);
        $("#Prateleira_Descricao").val(descricao);
        $('#modalBuscarPrateleira').modal('hide');
        $('.modal-backdrop').remove();
    }

    function sucesso(data) {
        bootbox.alert(data.Message, function () {
            if (data.Status == 0) {
                window.location.href = "/Livro/Listar";
            }
        });
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            var fileName = $('#fileFoto').val();
            if (fileName.indexOf('.jpg') < 0 && fileName.indexOf('.png') < 0 && fileName.indexOf('.JPG') < 0 && fileName.indexOf('.PNG') < 0) {
                bootbox.alert('Informe uma foto válida.');
                return false;
            }
            reader.onload = function (e) {
                $('#imgFoto').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    function validarSalvarLivro() {
        var titulo = $('#Titulo').val();
        var autor = $('#Autor_Id').val();
        var editora = $('#Editora_Id').val();
        var prateleira = $('#Prateleira_Id').val();

        if (titulo == null || titulo == "") {
            bootbox.alert("O campo Título é obrigatório");
            return false;
        }

        if (autor == null || autor == "") {
            bootbox.alert("O campo Autor é obrigatório");
            return false;
        }

        if (editora == null || editora == "") {
            bootbox.alert("O campo Editora é obrigatório");
            return false;
        }

        if (prateleira == null || prateleira == "") {
            bootbox.alert("O campo Prateleira é obrigatório");
            return false;
        }

        salvarLivro();
    }

    function salvarLivro() {
        var formdata = new FormData();
        var other_data = $('#myForm').serializeArray();
        $.each(other_data, function (key, input) {
            formdata.append(input.name, input.value);
        });

        var fileInput = document.getElementById('fileFoto');
        if (fileInput != null) {
            for (i = 0; i < fileInput.files.length; i++) {
                formdata.append(fileInput.files[i].name, fileInput.files[i]);
            }
        }

        $.ajax({
            type: "POST",
            data: formdata,
            url: "/Livro/Salvar",
            success: function (data) {
                sucesso(data);
            },
            contentType: false,
            processData: false
        });
    }

</script>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/scripts/jquery.validate.js")
    @Scripts.Render("~/scripts/Util.js")
}
